body{
	background: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
	overflow: scroll;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 72px;
	color: white;
}

#title_container{
	width: 40%;
	height: auto;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top :200px;
	background-color: gray;
	border: 5px solid white;
  	border-radius: 5px;
}